.site-layout-content {
  margin-top: 50px;
  min-height: 80vh;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.myImage {
  width: 300px !important;
  height: 150px !important;

  max-width: 300px !important;
  max-height: 150px !important;
  min-width: 300px !important;
  min-height: 150px !important;
}

.input-container {
  margin-top: 10px;
}
.input-add-bordreau {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
}

.input-add-bordreau:focus {
  outline: 1px solid lightblue;
}

.button-submit-bordreau {
  background: #1890ff;
  margin-top: 20px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.error {
  color: red;
}
