body {
  font-family: Arial, Helvetica, sans-serif;
}
.site-layout-content {
  margin-top: 50px;
  min-height: 80vh;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.myImage {
  margin-left: 50px !important;
  width: 140px !important;
  height: 140px !important;

  max-width: 140px !important;
  max-height: 140px !important;
  min-width: 140px !important;
  min-height: 140px !important;
}

.input-container {
  margin-top: 10px;
}
.input-add-bordreau {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
}

.input-add-bordreau:focus {
  outline: 1px solid lightblue;
}

.button-submit-bordreau {
  background: #1890ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.error {
  color: red;
}

.mission-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  align-items: center;
}
.mission-title span {
  padding: 0 10px;
  font-size: 20px;
  margin: 0 10px;
  color: white;
  background-color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 30px;
  cursor: pointer;
}
.mission-title span:hover {
  background-color: unset;
  color: #1890ff;
  user-select: none;
  animation: spin 0.5s ease-in-out;
}
.modal-c {
  height: 71vh;
  overflow: auto;
}
.modal-c.modal-matfisc{
  height: 30vh;

}

.modal-c .select-bordereau {
  height: 35vh !important ;
}

.modal-body input {
  width: 100%;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-actions.exp {
  justify-content: space-between;
}

.filter-input {
  color: #777;
  font-size: 14px;
  border: 1px solid lightgrey;
  width: 30%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.list-tag-filter * {
  cursor: pointer;
}
.list-tag-filter *:hover {
  border: 1px solid grey;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
